<!DOCTYPE html>

<html>

<head>

	<title>
		AngelaMathClass_QuarterQuizes
	</title>
	<style>
	body{
		background: seashell;
	}

	form{
		color: darkblue;
		font-size: 20px;
		position: fixed;
		left:30%;
		top:30%;
		width:900px;
		word-spacing: 5px;
		line-height: 10px;
	}

	.btn{
		width:200px;
		height:50px;
		cursor: crosshair;
		font-family: times;
		font-size: 30px;
		position: fixed;
		left:700px;
		top:700px;
	}

	#Answerto1{
		font-size: 60px
	}
	#Answerto2{
		font-size: 30px;
		position: fixed;
		left: 300px;
	}

	</style>

</head>


<body>


	 <form name = "Div_Rules">
  		A number is divisible by two if it ends in an
  		<input type="text" name="Answer1">
  		number which are
  		<input type="text" name="Answer2">
  		,
  		<input type="text" name="Answer3">
  		,
  		<input type="text" name="Answer4">
  		,
  		<input type="text" name="Answer5">
  		and
  		<input type="text" name="Answer6">
  		. A number is divisible by three if the
  		<input type="text" name="Answer7">
  		of its digits are divisible by
  		<input type="text" name="Answer8">
  		. The sum of the digits of number 34,017 is
  		<input type="text" name="Answer9">
  		which (is or isn&rsquo;t)
  		<input type="text" name="Answer10">
  		divisible by three, so 34,017 (is or isn&rsquo;t)
  		<input type="text" name="Answer11">
  		divisible by three. The number 2,333 (is or isn&rsquo;t )
  		<input type="text" name="Answer12">
  		divisible by three. An example of a four digit number that is divisible by 5 would be
		<input type="text" name="Answer13">
		because it ends in a
		<input type="text" name="Answer13">
		.

 	<br><br>
 	<input class= "btn" type="button" value="Submit" onClick="processAnswers()">
	</form>
 
<p id ="Answerto1" ></p>

<script type="text/javascript">
    //document.write("This is printed via javascript!");
    //document.getElementById("Answerto1").innerHTML = "Hello JavaScript!";
    	//function create(){
	//	var para = document.createElement('p');
	//	para.textContent = 'You click it!';
	//	document.body.appendChild(para)
	//}
	//var but = document.querySelectorAll('button');

	//for (var i = 0; i<but.length;i++){
	//	but[i].addEventListener('click',create)
	//}
    function processAnswers() {
	var correct = 0;
	var total = 13;
	var Guesses = [document.Div_Rules.Answer1.value,document.Div_Rules.Answer2.value,document.Div_Rules.Answer3.value,document.Div_Rules.Answer4.value,document.Div_Rules.Answer5.value,document.Div_Rules.Answer6.value,document.Div_Rules.Answer7.value,document.Div_Rules.Answer8.value,document.Div_Rules.Answer9.value,document.Div_Rules.Answer10.value,document.Div_Rules.Answer11.value,document.Div_Rules.Answer12.value,document.Div_Rules.Answer13.value];
	var answers = ['even',0,2,4,6,8,'sum',3,15,'is','is',"isn't",5,5];
		if (checker(Guesses[0],answers[0])){
			correct = correct + 1
		}
		if (checker(Guesses[1],answers[1])){
			correct = correct + 1
		}
		if (checker(Guesses[2],answers[2])){
			correct = correct + 1
		}
		if (checker(Guesses[3],answers[3])){
			correct = correct + 1
		}
		if (checker(Guesses[4],answers[4])){
			correct = correct + 1
		}
		if (checker(Guesses[5],answers[5])){
			correct = correct + 1
		}
		if (checker(Guesses[6],answers[6])){
			correct = correct + 1
		}
		if (checker(Guesses[7],answers[7])){
			correct = correct + 1
		}
		if (checker(Guesses[8],answers[8])){
			correct = correct + 1
		}
		if (checker(Guesses[9],answers[9])){
			correct = correct + 1
		}
		if (checker(Guesses[10],answers[10])){
			correct = correct + 1
		}
		if (checker(Guesses[11],answers[11])){
			correct = correct + 1
		}
		if (checker(Guesses[12],answers[12])){
			correct = correct + 1
		}
		if (checker(Guesses[13],answers[13])){
			correct = correct + 1
		}
		document.getElementById("Answerto1").innerHTML = correct;
	}

	function checker(answer,correct){
		if (answer == correct){
			return Boolean(3>2);
		}else{
			return Boolean(2>3);
		}
	}

</script>

</body>

</html>