<!DOCTYPE html>

<html>

<head>

	<title>
		AngelaMathClass_QuarterQuizes
	</title>
	<style>
	body{
		background: lightblue;
	}

	h1{
		font-size: 50px;
		position: fixed;
		left:500px;
		top:300px;
	}

	h2{
		font-size: 30px;
		position: fixed;
		left:650px;
		top:400px;
	}

	#elephant{
		position: fixed;
		left:650px;
		top:500px;
		width:200px;

	}

	</style>

</head>

<body>

	<h1> Congradulations!</h1>
	<h2> You Passed!</h2>
	<IMG id="elephant" SRC="https://media.giphy.com/media/26tkm16LzstCoEfRK/giphy.gif">
</body>

</html>