<!DOCTYPE html>

<html>

<head>

	<title>
		QuarterQuizes
	</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<style>
	body{
	}

	form{
		color: #004d99;
		line-height: 200%;
		font-size: 20px;
		position: absolute;
		font-weight: bold;
		left:5%;
		top:5%;
		width:800px;
		word-spacing: 5px;
		line-height: 40px;
		z-index: 2;
		height: 900px;
		font-family: monaco,Consolas,Lucida Console,monospace;
	}

	.WhiteBox{
		color: #004d99;
		position: absolute;
		left:22%;
		top:30%;
		height: 600px;
		background-color: white;
		width: 900px;
		padding: 10px;
		border: 5px solid  #ff8080;
		margin: 0;
		z-index: 1;
	}

	.Directions{
		position: absolute;
		padding: 10px;
		left: 105%;
		top: -35%;
		border: 7px solid #004d99;
		font-size: 18px;
		font-weight: bold;
		color: #b30000;
		width: 300px;
		height: 120px;
		text-align: center;
		font-family: monaco,Consolas,Lucida Console,monospace;
	}

	.backimg{
		z-index: -1;
		width: 1500px;
		opacity: 0.5;
		display: block;
		margin: 0 auto;
		height: 1500px;
	}

	.Heading{
		font-family: monaco,Consolas,Lucida Console,monospace; 
		font-size: 60px;
		position: absolute;
		top:-200px;
		left:13%;
		color: black;
		z-index: 3;

	}

	#Poem{
		text-align: initial;
		border-radius: 20px;
		border-color:black;
		border-width: 5px;
		height:45%;
		width: 40%;
		position: absolute;
		left:55%;
		top:2%;
		word-wrap: break-word;
	}
	
	#AnswerDisplay{
		font-size: 500%;
		z-index: 5;
		position: absolute;
		left:10%;
		top: 30%;
		color: red;
	}

	.Tocopy{
		font-size:17px;
		position: absolute;
		font-weight: bold;
		top:5%;
		left:6%;
		text-align: center;
	}

	.btn{
		width:200px;
		height:50px;
		font-family: monaco,Consolas,Lucida Console,monospace;
		cursor: crosshair;
		font-size: 30px;
		position: absolute;
		left:38%;
		top:50%;
	}
	</style>

</head>


<body>
	<p id='AnswerDisplay'>
	</p>
	<div class = "WhiteBox">
		<p class = "Directions">
		Type the poem into the text field. Do not worry about making it perfect.
		</p>
		<p class = "Heading">
			Division Rules Poem
		</p>
		<p class = "Tocopy">
			I'm #2 and I'll be your friend,
			<br>
			as long as an even #'s on the 	end.
			<br><br>
			#3 will work for me, you see,
			<br>
			if the sum is divisible by 3.
			<br><br>
			The #4 won't be such a chore.
			<br>
			if the last 2 are divisible by 4.
			<br><br>
			The #5 is my biggest hero,
			<br>
			he has to end in 5 or 0
			<br><br>
			The #6 will always go into me,
			<br>
			as long as so does 2 and 3.
			<br><br>
			#9 will go into me just fine,
			<br>
			if the sume is divisible by 9.
			<br><br>
			I'm #10 and this you should know,
			<br>
			I always end in a big fat 0!
		</p>
		 <form name = "Div_Rules">
		 <textarea name = "Poem" id = "Poem" >
		 </textarea>
	 		<input class= "btn" type="button" value="Submit" onClick="processAnswers()">
		</form>
	</div>
	<img class = "backimg" src="https://img.clipartfox.com/53f526e6a490d723769bd6d3ce46e09d_notebook-paper-template-cute-notebook-page-clipart_900-1200.png">

<script type="text/javascript">

    function processAnswers() {
	var correct = 0;
	var total = 1;
	var Guesses = [document.getElementById("Poem").value];
	if (Guesses[0].includes("#2")
		&&Guesses[0].includes("#3")
		&&Guesses[0].includes("#4")
		&&Guesses[0].includes("#5")
		&&Guesses[0].includes("#6")
		&&Guesses[0].includes("#7")
		&&Guesses[0].includes("#10")
		&&Guesses[0].includes('even')
		&&Guesses[0].includes('hero')
		&&Guesses[0].includes('even')
		&&Guesses[0].includes('end')
		&&Guesses[0].includes('biggest')
		&&Guesses[0].includes('fine')
		&&Guesses[0].includes('know')
		){
		correct = correct + 1
		};
	console.log(correct);
	}



</script>

</body>

</html>
