<!DOCTYPE html>
<html>
<head>

	<title>
		AngelaMathClass_QuarterQuizes
	</title>

	<style>
		.Welcome{
			font-size: 40px;
			position: fixed;
			left: 350px;
			top:50px;
			width: 100%;
		}



	#Login {
		font-size: 30px;
		position: fixed;
		left: 300px;
		top: 200px;
	}


	.form{
		position: fixed;
		left:300px;
		top:300px;
    	padding: 16px 20px;
    	border: 2px solid #1F4B00;
    	border-radius: 4px;
    	background-color: #2A4E6E;
    	color: white;
    	font-size: 22px;

	}

	#demo{
		background: lightblue;
		font-size: 30px;
		width:400px;
		position: absolute;
		left: 700px;
		top: 200px;
	}

	.btn{
		padding: 16px 32px;
		margin: 4px 2px;
		cursor: crosshair;
		color: white;
		position: fixed;
		left: 400px;
		top: 500px;
		font-size: 22px;
		background-color: #267356;
		border: 2px solid #1F4B00;
    	border-radius: 4px;
		}

	</style>


</head>
<body onload = pickJoke()>


<p class = "Welcome">
	Welcome to the Quarter Quiz Portal!
</p>
<script>
document.write("This is printed via javascript!");
</script>



<p id="Login"> Login:</p>
<div class = "form">
<form action="/" method="POST">
  		User Name:<br>
  		<input type="text" fname="UserName">
  		<br>
  		Password:<br>
  		<input type="text" fname="Password">
 	<br><br>
 	<input class= "btn" type="submit" value="Login">
</form>
</div>

</body>
</html>
