<!DOCTYPE html>
<html>
<head>

	<title>
		AngelaMathClass_QuarterQuizes
	</title>

	<style>
		.Welcome{
			font-size: 40px;
			position: fixed;
			left: 350px;
			top:50px;
			width: 100%;
		}



	#Login {
		font-size: 30px;
		position: fixed;
		left: 300px;
		top: 200px;
	}


	.form{
		position: fixed;
		left:300px;
		top:300px;
    	padding: 16px 20px;
    	border: 2px solid #1F4B00;
    	border-radius: 4px;
    	background-color: #2A4E6E;
    	color: white;
    	font-size: 22px;

	}

	#demo{
		background: lightblue;
		font-size: 30px;
		width:400px;
		position: absolute;
		left: 700px;
		top: 200px;
	}

	.btn{
		padding: 16px 32px;
		margin: 4px 2px;
		cursor: crosshair;
		color: white;
		position: fixed;
		left: 400px;
		top: 500px;
		font-size: 22px;
		background-color: #267356;
		border: 2px solid #1F4B00;
    	border-radius: 4px;
		}

	</style>


</head>
<body>
<p id="demo"></p>

<p class = "Welcome">
	Welcome to the Quarter Quiz Portal!
</p>

	 <script>
    alert( 'Hello, world!' );
    var Joke1 = ["Q: How do you make seven an even number?    A: Take the s out!"];
    var Joke2 = ["Q: What is the difference between a Ph.D. in mathematics and a large pizza?    A: A large pizza can feed a family of four "];
    var Joke3 = ["Q: What happened to the plant in math class?    A: It grew square roots."];
    var Joke4 = ["Two statisticians go bird hunting. The first one fires at the bird but overshoots by 5 feet. The second one fires and undershoots the bird by 5 feet. They both give each other a high-five and say, Got it!"]
    var Joke5 = ["Q: What is the definition of a polar bear? A: A rectangular bear after a coordinate transformation"];
    var Joke6 = ["Q: What did one math book say to the other? A: Don't bother me I've got my own problems!"];
    var Joke7 = ["Q: What did the mathematician get kicked out of the golf club? A: He kept yelling, Square root of 16!"];
    var Joke8 = ["Q: Why did I divide sin by tan?    A: Just cos."];
    var Joke11 = ["Q: What did Al Gore play on his guitar?    A: An Algorithm"];
    var Jokes = ['test1','test2',Joke11,Jokes1,Joke2,Joke3,Joke4,Joke5,Joke6,Joke7,Joke8];
    document.getElementById("demo").innerHTML = Jokes[8];
  	</script>




<p id="Login"> Login:</p>
<div class = "form">
<form action="/" method="POST">
  		User Name:<br>
  		<input type="text" fname="UserName">
  		<br>
  		Password:<br>
  		<input type="text" fname="Password">
 	<br><br>
 	<input class= "btn" type="submit" value="Login">
</form>
</div>

</body>
</html>
